<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(widget) -%>">
  <span class='title'>
    <%= widget.title %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), widget_url(widget),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_widget_path(widget),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_widget_path(widget),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => widget.title),
        :method => :delete %>
  </span>
</li>
